@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nabla&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hero, .seleccion .seleccion-items .seleccion-contenedor-grids div.año, .seleccion .seleccion-items .seleccion-contenedor-grids div.mes, .seleccion .seleccion-items .seleccion-contenedor-grids div.semana, .pestaña-coleccion .vivos-contenedor, .pestaña-coleccion .lanzamientos-contenedor, .contacto-pestaña .div0c, section .main-nosotros .contacto-links div a {
  display: flex;
  flex-direction: column;
  align-items: center; }

.hero p, .coleccion h2, .seleccion h2, .mapa, .parrafo p, .playlist h2, .pestaña-coleccion .vivos-contenedor h1, .pestaña-coleccion .vivos-contenedor h2, .pestaña-coleccion .lanzamientos-contenedor h2, .pestaña-coleccion .playlists-contenedor h2, .seleccion-pestaña .seleccion-uno .todos-los-tiempos div, .seleccion-pestaña .seleccion-uno .veintitres div, .seleccion-pestaña .seleccion-uno .veintidos div, .seleccion-pestaña .seleccion-uno .veintiuno div, .seleccion-pestaña .seleccion-uno .veinte div {
  display: flex;
  justify-content: center; }

/*!----------------------------------------------RESERT----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/Los-discos-de-vinilo-necesitan-de-un-cuidado-especial.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Electrolize', sans-serif; }

/*---------------------HEADER---------------------*/
nav .container-fluid button {
  background-color: #f8f677;
  color: black; }

.navbar-brand {
  font-family: 'Nabla', cursive;
  font-size: 40px;
  margin-left: 50px;
  margin-right: 50px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.707);
  display: flex;
  align-items: end; }

.nav-link {
  color: white; }

.boton {
  border: 2px solid yellow;
  background-color: black; }

.boton:hover {
  color: white;
  background-color: orange; }

/*---------------------INDEX---------------------*/
.carousel-item img {
  height: 350px; }

.accordion {
  margin-top: 50px; }

/*---------------------INDEX---------------------*/
.hero {
  width: 100%;
  height: calc(100vh - 86px);
  background-color: rgba(255, 255, 255, 0.308); }
  .hero h1 {
    display: inline-block;
    font-size: 80px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.89);
    text-shadow: -6px 4px 7px rgba(170, 168, 168, 0.658), -9px 4px 10px #e6dfdf, -4px 4px 0px white;
    margin-top: 110px; }
  .hero a {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
    padding: 7px;
    border: solid 1px rgba(255, 255, 255, 0.541);
    border-radius: 50%;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.411); }
  .hero p {
    width: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: 250;
    color: white;
    text-shadow: -4px 3px 7px black;
    padding-top: 30px; }

.coleccion {
  background-image: none;
  height: 70vh; }
  .coleccion h2 {
    color: #fc9700;
    font-size: 30px;
    font-weight: 100; }

.seleccion {
  background-color: rgba(255, 255, 255, 0.308);
  width: 100%;
  height: 115vh; }
  .seleccion h2 {
    color: #fc9700;
    font-size: 30px;
    font-weight: 100; }
  .seleccion .seleccion-items {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%; }
    .seleccion .seleccion-items .seleccion-contenedor-grids {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 330px 330px;
      grid-template-areas: "div1  div2 " "div1  div3"; }
      .seleccion .seleccion-items .seleccion-contenedor-grids div.año {
        grid-area: div1; }
        .seleccion .seleccion-items .seleccion-contenedor-grids div.año h3 {
          color: #ffd000;
          font-weight: 50; }
        .seleccion .seleccion-items .seleccion-contenedor-grids div.año a img {
          width: 350px;
          height: 350px; }
      .seleccion .seleccion-items .seleccion-contenedor-grids div.mes {
        grid-area: div2; }
        .seleccion .seleccion-items .seleccion-contenedor-grids div.mes h3 {
          color: #ffd000;
          font-weight: 5; }
        .seleccion .seleccion-items .seleccion-contenedor-grids div.mes a img {
          width: 200px;
          height: 200px; }
      .seleccion .seleccion-items .seleccion-contenedor-grids div.semana {
        grid-area: div3; }
        .seleccion .seleccion-items .seleccion-contenedor-grids div.semana h3 {
          color: #ffd000;
          font-weight: 5; }
        .seleccion .seleccion-items .seleccion-contenedor-grids div.semana a img {
          width: 200px;
          height: 200px; }

.mapa {
  background-image: none;
  width: 100%;
  height: 80vh;
  align-items: center; }
  .mapa div a img {
    display: flex;
    padding: 30px; }

.parrafo {
  width: 100%;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.308);
  display: flex;
  align-items: center; }
  .parrafo p {
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    color: white;
    text-shadow: -4px 3px 7px black; }

.playlist {
  width: 100%;
  height: 90vh;
  background-image: none; }
  .playlist h2 {
    color: #fc9700;
    font-size: 30px;
    font-weight: 100; }

/*---------------------COLECCION---------------------*/
.pestaña-coleccion .vivos-contenedor {
  margin-top: 30px;
  justify-content: space-around; }
  .pestaña-coleccion .vivos-contenedor h1 {
    color: #fc9700;
    font-size: 40px;
    font-weight: 150; }
  .pestaña-coleccion .vivos-contenedor h2 {
    color: #fc9700;
    font-size: 30px;
    font-weight: 100;
    margin-top: 30px; }
  .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px;
    grid-template-areas: "vid1 vid2" "vid3 vid4" "vid5 vid6" "vid7 vid8" "vid9 vid10"; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid1 {
      margin: 10px;
      grid-area: vid1; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid2 {
      margin: 10px;
      grid-area: vid2; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid3 {
      margin: 10px;
      grid-area: vid3; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid4 {
      margin: 10px;
      grid-area: vid4; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid5 {
      margin: 10px;
      grid-area: vid5; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid6 {
      margin: 10px;
      grid-area: vid6; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid7 {
      margin: 10px;
      grid-area: vid7; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid8 {
      margin: 10px;
      grid-area: vid8; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid9 {
      margin: 10px;
      grid-area: vid9; }
    .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid .vid10 {
      margin: 10px;
      grid-area: vid10; }

.pestaña-coleccion .lanzamientos-contenedor {
  justify-content: space-around; }
  .pestaña-coleccion .lanzamientos-contenedor h2 {
    color: #fc9700;
    font-size: 30px;
    font-weight: 100;
    margin-top: 30px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas: "alb1  alb2   alb3   alb4" "alb5  alb6   alb7   alb8" "alb9  alb10  alb11  alb12"; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 {
      grid-area: alb1;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 {
      grid-area: alb2;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 {
      grid-area: alb3;
      margin: 11px;
      margin-top: 13px;
      margin-right: 18px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 {
      grid-area: alb4;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 {
      grid-area: alb5;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 {
      grid-area: alb6;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 {
      grid-area: alb7;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 {
      grid-area: alb8;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 {
      grid-area: alb9;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 {
      grid-area: alb10;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 {
      grid-area: alb11;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 a img {
        width: 250px;
        height: 250px; }
    .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 {
      grid-area: alb12;
      margin: 15px; }
      .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 a img {
        width: 250px;
        height: 250px; }

.pestaña-coleccion .playlists-contenedor h2 {
  color: #fc9700;
  font-size: 30px;
  font-weight: 100;
  margin-top: 30px; }

/*---------------------CONTACTO---------------------*/
.contacto-pestaña {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "div0c" "div1c" "div2c" "div2c"; }
  .contacto-pestaña .div0c {
    grid-area: div0c;
    color: #fc9700;
    font-size: 30px;
    font-weight: 100;
    margin-top: 50px; }
  .contacto-pestaña div.div1c {
    grid-area: div1c;
    margin-left: 400px;
    margin-right: 400px; }
  .contacto-pestaña div.div2c {
    grid-area: div2c;
    margin-left: 200px;
    margin-right: 200px; }

/*---------------------NOSOTROS---------------------*/
section .main-nosotros {
  width: 100%;
  height: 100vh; }
  section .main-nosotros h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    padding-top: 50px;
    color: #fc9700; }
  section .main-nosotros p {
    padding-top: 30px;
    width: 100%;
    height: 40vh;
    text-align: center;
    color: white;
    text-shadow: -4px 3px 7px black;
    background-color: rgba(255, 255, 255, 0.04); }
  section .main-nosotros .contacto-links h2 {
    color: #fc9700;
    font-size: 25px;
    font-weight: 100;
    margin-top: 10px; }
  section .main-nosotros .contacto-links a {
    text-decoration: none;
    color: white; }
  section .main-nosotros .contacto-links h2 {
    color: #fc9700;
    font-size: 25px;
    font-weight: 100;
    margin-top: 10px; }
  section .main-nosotros .contacto-links div {
    display: inline-block; }
    section .main-nosotros .contacto-links div a {
      text-decoration: none;
      color: white;
      margin: 10px; }
      section .main-nosotros .contacto-links div a img {
        height: 30px;
        width: 30px; }

/*---------------------SELECCION---------------------*/
.seleccion-pestaña {
  width: 100%; }
  .seleccion-pestaña h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 150;
    padding-top: 50px;
    color: #fc9700; }
  .seleccion-pestaña .seleccion-uno {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas: "s1  s1  s3" "s1  s1  s4" "s2  s2  s5"; }
    .seleccion-pestaña .seleccion-uno .todos-los-tiempos {
      grid-area: s1; }
      .seleccion-pestaña .seleccion-uno .todos-los-tiempos h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: #fc9700;
        margin-top: 5px; }
      .seleccion-pestaña .seleccion-uno .todos-los-tiempos div a img {
        width: 650px;
        height: 650px; }
    .seleccion-pestaña .seleccion-uno .veintitres {
      grid-area: s2; }
      .seleccion-pestaña .seleccion-uno .veintitres h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: #fc9700;
        margin-top: 5px; }
      .seleccion-pestaña .seleccion-uno .veintitres div a img {
        width: 310px;
        height: 310px; }
    .seleccion-pestaña .seleccion-uno .veintidos {
      grid-area: s3; }
      .seleccion-pestaña .seleccion-uno .veintidos h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: #fc9700;
        margin-top: 5px; }
      .seleccion-pestaña .seleccion-uno .veintidos div a img {
        width: 310px;
        height: 310px; }
    .seleccion-pestaña .seleccion-uno .veintiuno {
      grid-area: s4; }
      .seleccion-pestaña .seleccion-uno .veintiuno h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: #fc9700;
        margin-top: 5px; }
      .seleccion-pestaña .seleccion-uno .veintiuno div a img {
        width: 310px;
        height: 310px; }
    .seleccion-pestaña .seleccion-uno .veinte {
      grid-area: s5; }
      .seleccion-pestaña .seleccion-uno .veinte h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: #fc9700;
        margin-top: 5px; }
      .seleccion-pestaña .seleccion-uno .veinte div a img {
        width: 310px;
        height: 310px; }
  .seleccion-pestaña .decadas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 360px 360px;
    grid-template-areas: "sd1  sd2  sd3" "sd4  sd5  sd6";
    margin-top: 200px; }
    .seleccion-pestaña .decadas .dosmildiez {
      margin-top: 5px;
      grid-area: sd1; }
      .seleccion-pestaña .decadas .dosmildiez h2 {
        font-size: 30px;
        text-align: center;
        font-weight: 100;
        color: #fc9700;
        margin-top: 5px; }
      .seleccion-pestaña .decadas .dosmildiez div {
        display: flex;
        justify-content: center; }
        .seleccion-pestaña .decadas .dosmildiez div a img {
          text-align: center;
          width: 310px;
          height: 310px; }
  .seleccion-pestaña .dosmil {
    margin-top: 5px;
    grid-area: sd2; }
    .seleccion-pestaña .dosmil h2 {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      color: #fc9700;
      margin-top: 5px; }
    .seleccion-pestaña .dosmil div {
      display: flex;
      justify-content: center; }
      .seleccion-pestaña .dosmil div a img {
        width: 310px;
        height: 310px; }
  .seleccion-pestaña .noventas {
    margin-top: 5px;
    grid-area: sd3; }
    .seleccion-pestaña .noventas h2 {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      color: #fc9700;
      margin-top: 5px; }
    .seleccion-pestaña .noventas div {
      display: flex;
      justify-content: center; }
      .seleccion-pestaña .noventas div a img {
        width: 310px;
        height: 310px; }
  .seleccion-pestaña .ochentas {
    margin-top: 5px;
    grid-area: sd4; }
    .seleccion-pestaña .ochentas h2 {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      color: #fc9700;
      margin-top: 5px; }
    .seleccion-pestaña .ochentas div {
      display: flex;
      justify-content: center; }
      .seleccion-pestaña .ochentas div a img {
        width: 310px;
        height: 310px; }
  .seleccion-pestaña .setentas {
    margin-top: 5px;
    grid-area: sd5; }
    .seleccion-pestaña .setentas h2 {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      color: #fc9700;
      margin-top: 5px; }
    .seleccion-pestaña .setentas div {
      display: flex;
      justify-content: center; }
      .seleccion-pestaña .setentas div a img {
        width: 310px;
        height: 310px; }
  .seleccion-pestaña .sesentas {
    margin-top: 5px;
    grid-area: sd6; }
    .seleccion-pestaña .sesentas h2 {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      color: #fc9700;
      margin-top: 5px; }
    .seleccion-pestaña .sesentas div {
      display: flex;
      justify-content: center; }
      .seleccion-pestaña .sesentas div a img {
        width: 310px;
        height: 310px; }

footer {
  background-color: rgba(255, 255, 255, 0.504);
  background-position: 0%;
  border: solid 1px #ffd000;
  width: 100%;
  height: 15vh;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer h2 {
    font-family: 'Nabla', cursive;
    font-size: 30px;
    margin-bottom: 30px; }
  footer div {
    margin: 50px; }
    footer div a {
      padding: 5px; }
      footer div a img {
        width: 20px;
        height: 20px;
        margin-bottom: 30px; }
  footer h3 {
    font-size: 15px;
    margin-bottom: 30px; }

@media screen and (max-width: 1250px) {
  .lanzamientos-contenedor-grid .alb1 a Img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px 220px 220px 220px;
    grid-template-areas: "alb1 alb2 alb3 " "alb4 alb5 alb6 " "alb7 alb8 alb9" "alb10 alb11 alb12"; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 a img {
    height: 200px;
    width: 200px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 a img {
    height: 200px;
    width: 200px; } }

@media screen and (max-width: 1200px) {
  .vivos-contenedor div div iframe {
    width: 360px;
    height: 215px; } }

@media screen and (max-width: 1050px) {
  .coleccion div div div div {
    margin-left: 300px; } }

@media screen and (max-width: 1000px) {
  .seleccion {
    height: 120vh; }
  .vivos-contenedor-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px 220px 220px 220px; }
  .seleccion-pestaña .seleccion-uno {
    grid-template-rows: 250px 250px 250px; }
  .seleccion-pestaña .seleccion-uno .todos-los-tiempos div a img {
    width: 400px;
    height: 400px; }
  .seleccion-pestaña .seleccion-uno .veintitres div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .seleccion-uno .veintidos div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .seleccion-uno .veintiuno div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .seleccion-uno .veinte div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .decadas .dosmildiez div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .decadas .dosmil div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .decadas .noventas div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .decadas .ochentas div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .decadas .setentas div a img {
    width: 200px;
    height: 200px; }
  .seleccion-pestaña .decadas .sesentas div a img {
    width: 200px;
    height: 200px; }
  .contacto-pestaña div.div1c {
    margin-left: 300px;
    margin-right: 300px; } }

@media screen and (max-width: 950px) {
  .lanzamientos-contenedor-grid .alb1 a Img {
    height: 200px;
    width: 200px; }
  .vivos-contenedor div div iframe {
    width: 330px;
    height: 185px; }
  .contacto-pestaña div.div1c {
    margin-left: 200px;
    margin-right: 200px; }
  .archivo-pestaña {
    height: 350vh; }
  .seleccion-pestaña .decadas {
    margin-top: 100px; }
  .archivo-pestaña {
    height: 250vh; } }

@media screen and (max-width: 850px) {
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px 220px 220px 220px 220px;
    grid-template-areas: "alb1 alb2 " "alb3 alb4 " "alb5 alb6 " "alb7 alb8 " "alb9 alb10" "alb11 alb12 "; } }

@media screen and (max-width: 760px) {
  .pestaña-coleccion .vivos-contenedor h1 {
    font-size: 35px; }
  .main-nosotros p {
    font-size: 14px; }
  footer div {
    margin: 20px; }
  footer div h2 {
    font-size: 23px; }
  footer div h3 {
    font-size: 13px; }
  footer div a img {
    width: 18px;
    height: 18px; } }

@media screen and (max-width: 740px) {
  .lanzamientos-contenedor-grid div a img {
    width: 180px;
    height: 180px; }
  .vivos-contenedor div div iframe {
    width: 300px;
    height: 185px; }
  .mapa div a img {
    width: 540px;
    height: 350px; }
  .contacto-pestaña div.div2c {
    margin-left: 50px;
    margin-right: 50px; }
  .seleccion-pestaña h1 {
    font-size: 35px; }
  .seleccion-pestaña .seleccion-uno .todos-los-tiempos h2 {
    text-align: center;
    font-size: 23px; }
  .seleccion-pestaña .seleccion-uno .veinte h2 {
    text-align: center;
    font-size: 23px; }
  .seleccion-pestaña .seleccion-uno .veintiuno h2 {
    text-align: center;
    font-size: 23px; }
  .seleccion-pestaña .seleccion-uno .veintidos h2 {
    text-align: center;
    font-size: 23px; }
  .seleccion-pestaña .seleccion-uno .veintitres h2 {
    text-align: center;
    font-size: 23px; }
  .seleccion-pestaña .decadas .dosmildiez h2 {
    text-align: center;
    font-size: 23px; }
  .seleccion-pestaña .decadas div h2 {
    text-align: center;
    font-size: 23px; } }

@media screen and (max-width: 665px) {
  .pestaña-coleccion .lanzamientos-contenedor h2 {
    font-size: 20px; }
  .vivos-contenedor div div iframe {
    width: 250px;
    height: 155px; }
  .coleccion {
    height: 60vh; }
  .carousel-item img {
    height: 250px; }
  .seleccion-contenedor-grids {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 330px 330px;
    grid-template-areas: "div1  div2  div3" "div1  div2 div3"; }
  .seleccion .seleccion-items .seleccion-contenedor-grids {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 330px 330px;
    grid-template-areas: "div1 div2" "div3 div3"; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.año a img {
      width: 170px;
      height: 170px; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.mes a img {
      width: 170px;
      height: 170px; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.semana a img {
      width: 170px;
      height: 170px; }
  .parrafo {
    width: 100%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.499);
    display: flex;
    align-items: center; }
    .parrafo p {
      font-size: 15px;
      font-weight: 150; }
  .seleccion-pestaña .seleccion-uno {
    grid-template-rows: 220px 220px 220px; }
  .seleccion-pestaña .seleccion-uno .todos-los-tiempos div a img {
    width: 330px;
    height: 330px; }
  .seleccion-pestaña .seleccion-uno .veintitres div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .seleccion-uno .veintidos div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .seleccion-uno .veintiuno div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .seleccion-uno .veinte div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .decadas .dosmildiez div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .decadas .dosmil div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .decadas .noventas div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .decadas .ochentas div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .decadas .setentas div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .decadas .sesentas div a img {
    width: 150px;
    height: 150px; }
  .seleccion-pestaña .decadas {
    margin-top: 40px; }
  .archivo-pestaña {
    height: 200vh; } }

@media screen and (max-width: 620px) {
  section .main-nosotros .contacto-links h2 {
    font-size: 14px;
    margin-top: 20px; } }

@media screen and (max-width: 600px) {
  .main-nosotros p {
    font-size: 13px; }
  .contacto-pestaña div.div1c {
    margin-left: 100px;
    margin-right: 100px; } }

@media screen and (max-width: 565px) {
  .pestaña-coleccion .vivos-contenedor .vivos-contenedor-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px  150px 150px 150px 150px 150px;
    grid-template-areas: "vid1" "vid2" "vid3" "vid4" "vid5" "vid6" "vid7" "vid8" "vid9" "vid10"; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 a img {
    height: 180px;
    width: 180px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 a img {
    height: 180px;
    width: 180px; }
  .mapa {
    height: 50vh; }
    .mapa div a img {
      width: 440px;
      height: 280px; }
  .main-nosotros p {
    font-size: 12px; }
  .seleccion-pestaña .decadas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px 220px;
    grid-template-areas: "sd1  sd2" "sd3  sd4" "sd5  sd6"; }
  .archivo-pestaña {
    height: 250vh; }
  .seleccion-pestaña .seleccion-uno {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 420px 250px 250px;
    grid-template-areas: "s1  s1" "s2  s3 " "s4  s5 "; }
  .archivo-pestaña {
    height: 280vh; }
  footer div {
    margin: 5px; } }

@media screen and (max-width: 510px) {
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb2 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb3 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb4 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb5 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb1 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb6 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb7 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb8 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb9 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb10 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb11 a img {
    height: 140px;
    width: 140px; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid .alb12 a img {
    height: 140px;
    width: 140px; }
  footer h2 {
    font-size: 20px; }
  footer h3 {
    font-size: 10px; }
  footer div a img {
    width: 15px;
    height: 15px; }
  .pestaña-coleccion .vivos-contenedor h1 {
    font-size: 30px; }
  .seleccion-pestaña h1 {
    font-size: 30px; } }

@media screen and (max-width: 450px) {
  .hero h1 {
    font-size: 70px; }
  .hero p {
    font-size: 15px; }
  .pestaña-coleccion .lanzamientos-contenedor {
    justify-content: center; }
  .pestaña-coleccion .lanzamientos-contenedor .lanzamientos-contenedor-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px;
    grid-template-areas: "alb1" "alb2" "alb3" "alb4" "alb5" "alb6" "alb7" "alb8" "alb9" "alb10" "alb11" "alb12"; }
  .seleccion {
    height: 110vh; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.año h3 {
      font-size: 15px; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.año a img {
      width: 125px;
      height: 125px; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.mes h3 {
      font-size: 15px; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.mes a img {
      width: 125px;
      height: 125px; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.semana h3 {
      font-size: 15px; }
    .seleccion .seleccion-items .seleccion-contenedor-grids div.semana a img {
      width: 125px;
      height: 125px; }
  .mapa div a img {
    width: 340px;
    height: 220px; }
  .main-nosotros p {
    font-size: 10px; }
  .decadas div div a img {
    width: 140px;
    height: 140px; } }

@media screen and (max-width: 360px) {
  footer div h2 {
    font-size: 17px; }
  footer div h3 {
    font-size: 8px; }
  footer div a img {
    width: 13px;
    height: 13px; } }
